<launch>

<param name="use_sim_time" value="true"/>

<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping2" output="screen">
<remap from="scan" to="/robot_0/base_scan"/>
<param name="sigma" value="0.05"/>
<param name="base_frame" value="/robot_0"/>
<remap from="map" to="/gmapping/map2"/>
<remap from="map_metadata" to="/gmapping/metadata2"/>

</node>
</launch>
rosrun gmapping slam_gmapping scan:=/robot_0/base_scan _odom_frame:=/robot_0/odom

 _base_frame:=base_link _map_frame:=map

 rosrun teleop_twist_keyboard teleop_twist_keyboard.py cmd_vel:=robot_0/cmd_vel